* {
  box-sizing: border-box;
}

.container {
  width: 500px;
  margin: 30px auto;
  height: 800px;
  background-color: firebrick;
  border-radius: 20px;
  padding: 30px;
}

.numbers-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.button {
  width: 88px;
  height: 88px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 rgb(32, 32, 32);
  color: white;
  font-size: 2.2rem;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(51, 51, 51);
}

.number {
  background-color: rgb(3, 54, 136);
}

.operator {
  background-color: rgb(72, 165, 228);
}

.special {
  background-color: rgb(23, 91, 200);
}

.display-container {
  width: 100%;
  background-color: rgb(49, 49, 49);
  height: 100px;
  border-radius: 50px;
  margin: 20px 0;
  color: white;
  line-height: 100px;
  text-align: right;
  padding: 0 30px;
  font-size: 3.2rem;
}

.calculator-keypad {
  display: flex;
  flex-flow: row nowrap;
}

.calculator-right {
  display: flex;
  flex-flow: column nowrap;
  width: 25%;
}

.calculator-left {
  width: 75%;
}

.btn-0 {
  width: 200px;
  border-radius: 50px;
}
